NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
RESEND_API_KEY=
MAPBOX_TOKEN=
FCM_SERVER_KEY=
BRASILAPI_URL=https://brasilapi.com.br/api
NEXT_PUBLIC_APP_URL=http://localhost:3000
